@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");

:root {
  background-color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  cursor: url("../img/heart.png"), auto;
}

.text-space {
  letter-spacing: 5px;
}

.mouse {
  cursor: pointer;
}

/* NAVBAR */

.navbar {
  padding-bottom: 30px;
}

.flashy-border {
  animation: border-flash 1s infinite;
}

.title {
  font-weight: 200;
}

@keyframes border-flash {
  0% {
    border-color: red;
    box-shadow: 0 0 5px red;
  }
  50% {
    border-color: blue;
    box-shadow: 0 0 10px blue;
  }
  100% {
    border-color: green;
    box-shadow: 0 0 15px green;
  }
}

/* MENU TABS */

.tab-button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  margin: 15px;
  font-size: 16px;
  font-weight: 100;
}

@media (min-width: 768px) {
  /* Styles for screens 768px and larger */
  .tab-button {
    font-size: 25px;
  }
}

.tab-button:hover {
  font-weight: 300;
}

.up {
  transition: all 0.3s;
}
.up:hover {
  transform: translateY(-5px);
}

/* COLLECTIONS IMAGES*/

.img-size {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.heart {
  height: 20px;
  width: 20px;
}

.heart-box {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: black;
}

/* GENERAL COMPONENT*/

.text-space-paragraph {
  letter-spacing: 3px;
}

.data-box {
  min-width: 250px;
}

.back-arrow {
  height: 8px;
  width: 30px;
}

.back-text {
  font-size: 12px;
}

/* PERSON COMPONENT*/

.img-character {
  height: 530px;
  width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Styles for screens 768px and larger */
  .img-vehicle {
    height: 530px;
    width: 400px;
  }
}

/* VEHICLE COMPONENT*/

.img-vehicle {
  height: 580px;
  width: 360px;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Styles for screens 768px and larger */
  .img-vehicle {
    height: 650px;
    width: 425px;
  }
}

.data-box-vehicles {
  min-width: 270px;
}

/* PLANET COMPONENT*/

.img-planet {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

@media (min-width: 768px) {
  /* Styles for screens 768px and larger */
  .img-planet {
    height: 500px;
    width: 500px;
  }
}
